@model apigw_monitor.Model.MT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shortcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shortcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Msisdn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Msisdn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
